<nav class="navbar navbar-light bg-dark">
  <a href="/" class="navbar-brand">
    <img src="/img/guia.png" alt="">
  </a>
  <nav class="nav-item">
    <a class="nav-link" href="/form">Form</a>
  </nav>
</nav>